<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет - Design.pro</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Design.pro</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Главная</a></li>
                <li class="active"><a href="/profile/">Личный кабинет</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout/">Выйти ({{ user.username }})</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h2>Личный кабинет</h2>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Информация о пользователе</h3>
            </div>
            <div class="panel-body">
                <p><strong>ФИО:</strong> {{ user.fio }}</p>
                <p><strong>Логин:</strong> {{ user.username }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Управление заявками</h4>
                <a href="{% url 'create_application' %}" class="btn btn-primary">Создать заявку</a>
                <a href="{% url 'my_applications' %}" class="btn btn-default">Мои заявки</a>
            </div>
        </div>

        <a href="/" class="btn btn-default">← На главную</a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>